<div class=" bg"  >

 <div class="title"> 
     <br>
    <h1>Welcome to my application</h1>


        <div class="col-md-offset-2   mx-auto  center d-flex p-2" >
        
                              <button  type="button" class="btn btn-success mx-auto  center" routerLink="/login">Login</button>

                              <button  type="button" class="btn btn-warning mx-auto  center" routerLink="register">Register</button>
                       
                            </div>
                </div>
                    </div>
                    
